{% include 'bases/_header.html.twig' %}

<main class="contactLibrary">

    <h1 class="h1contactLibrary">Contact</h1>

    <h2 class="h2contactLibrary">Par e-mail</h2>

    <p class="pcontactLibrary">happylibrary@gmail.com</p>

    <h2 class="h2contactLibrary">Par courrier</h2>

    <p class="pcontactLibrary">2 place des Lumières <br>33000 Bordeaux</p>

    <h2 class="h2contactLibrary">Par téléphone</h2>

    <p class="pcontactLibrary">05 45 34 23 12</p>


</main>




{% include 'bases/_footer.html.twig' %}